#navigation-bar-overall
{
    background-color: rgb(171, 171, 221);
    
    border:0px;
    border-radius: 0px;
}
#container-div
{
    margin:5px;
}
#name-of-company
{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    margin-top: 10px;
    margin-bottom:10px;
}
body{
    background-color: wheat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#burger-icon
{
    background-color: rgb(204, 233, 167);
}
#page-title
{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
#box
{
    background-color: rgb(230, 105, 105);
    padding:20px;
    margin:20px;
    box-shadow: 5px 10px rgb(46, 34, 34);
}
#box #content-heading
{
    font-size: 30px;
    font-weight: 700;
}
#box #chicken,#beef,#sushi
{
    text-align:justify;
}
#box a
{
    font-size: 25px;
}